<div class="tab-pane" id="calendar">
	<div class="section-heading">Menus</div>
        <ul class="nav sidebar-nav">
            <li ng-class="{active: $state.includes('home')}"><a ui-sref="home" ng-click="showSubNav(0)"><i class="fa fa-home"></i> <span class="menu-text"</span>Home</a> </li>
            <li ng-class="{active: $state.includes('Analyse_Java_Class')}"><a ui-sref="Analyse_Java_Class" ng-click="showSubNav(0)"><i class="fa fa-table"></i> <span class="menu-text">Analyse Java Class</span></a></li>
        </ul>
</div>